* {
  padding: 0;
  margin: 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

table {
  height: 100%;
  width: 100%;
}
#container {
  width: 100%;
}

#row {
  overflow: auto;
  width: 80%;
  margin: 0 auto;
}

.headFixed{
  position:sticky
    background: red
}
